<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar Película</title>
    <!-- Incluye aquí tus hojas de estilo o archivos de script necesarios -->
</head>
<body>
    <h1>Borrar Película por ID</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('pelicula.delete_pelicula') }}" method="post">
        <div>
            <label for="idPelicula">ID de la Película:</label>
            <input type="number" id="idPelicula" name="idPelicula" required>
        </div>
        <div>
            <button type="submit">Buscar Película</button>
        </div>
    </form>
</body>
</html>
