<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <!-- Añade aquí tu enlace a hojas de estilo si es necesario -->
</head>
<body>
    <h1>Usuarios Registrados</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Super Usuario</th>
                <!-- Agrega más columnas si es necesario -->
            </tr>
        </thead>
        <tbody>
            <!-- Suponiendo que tienes una variable 'usuarios' que es una lista de objetos de usuario -->
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.idUsuario }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apPat }}</td>
                <td>{{ usuario.apMat }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ 'Sí' if usuario.superUser else 'No' }}</td>
                <!-- Añade más celdas si es necesario -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
