<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Datos del Usuario</title>
    <!-- Incluye aquí tus hojas de estilo o archivos de script necesarios -->
</head>
<body>
    <h1>Actualizar Datos del Usuario</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('usuario.update_usuario') }}" method="post" enctype="multipart/form-data">
        <!-- El campo ID no es editable y se envía como oculto -->
        <input type="hidden" name="idUsuario" value="{{ usuario.idUsuario }}">

        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" required>
        </div>
        <div>
            <label for="apPat">Apellido Paterno:</label>
            <input type="text" id="apPat" name="apPat" value="{{ usuario.apPat }}" required>
        </div>
        <div>
            <label for="apMat">Apellido Materno:</label>
            <input type="text" id="apMat" name="apMat" value="{{ usuario.apMat }}">
        </div>
        <div>
            <label for="correo">Correo Electrónico:</label>
            <input type="correo" id="correo" name="correo" value="{{ usuario.email }}">
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password">
            <small>Dejar en blanco para mantener la contraseña actual.</small>
        </div>
        <div>
            <label for="profile_picture">Imagen de Perfil:</label>
            <input type="file" id="profile_picture" name="profile_picture">
            <small>Dejar en blanco para mantener la imagen actual.</small>
        </div>
        <div>
            <label for="superUser">Super Usuario:</label>
            <input type="checkbox" id="superUser" name="superUser" {{ 'checked' if usuario.superUser }}>
        </div>
        <div>
            <button type="submit">Actualizar Datos</button>
        </div>
    </form>
</body>
</html>
